:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
html, body, main {
  height: 100%;
}
html {
  font-size: 12px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  /* height: 100%; */
  width: 100%;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.header {
  background-image: linear-gradient(to right, rgb(0 0 0 / 0.3), rgb(0 0 0 /0.5)),
    url("../img/header.jpg");
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .navegacion {
    margin-top: 0;
  }
}

.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.navegacion a:hover {
  background-color: var(--primary);
}

.navegacion-active {
  background-color: var(--primary);
  /* color: #888 !important; */
}

.footer {
  background-color: var(--negro);
  padding: 2rem 0; 
  /* position:fixed; */
  /* bottom:0; */
  width:100%;
  /* display: flex;
  align-items: flex-end; */
}

@media (min-width: 768px) {
  .contenido {
    display: flex;
    justify-content: space-between;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    gap: 2rem;
  }
}

.footer-nav a {
  font-size: 1.4rem;
  color: var(--blanco);
  text-decoration: none;
  font-weight: 700;
}

.footer-nav a:hover {
  color: var(--primary);
}

.copyright {
  font-size: 1.4rem;
  color: var(--blanco);
  font-weight: 700;
  text-align: center;
}

.about-content {
  display: grid;
  gap: 4rem;
  font-size: 1.4rem;
  text-align: justify;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .about-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 10rem;
  }
}

.content {
  display: grid;
  gap: 0rem;
  font-size: 1.4rem;
  text-align: justify;
  padding-bottom: 0rem;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 10rem;
  }
}

.table-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .table-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.table-btn {
  margin-right: 1rem;
  width: 5rem;
}

.custom-btn {
  font-weight: bold !important;
}

.icon {
  vertical-align: middle;
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

.title {
  height: 2px;
  padding-bottom: 3rem;;
  color: #e99401;
  font-weight: bold;
}

.main-image {
  background: linear-gradient(rgb(5 0 0 / 0.8), rgb(0 6 0 /0.8));
  background-size: cover;
} 

.adresses-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5rem 2rem 5rem;
  font-weight: 600;
}

.adresses-page-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 2rem;
}

.adresses-title {
  display: flex;
  gap: 50rem;
  font-weight: bold;
  text-transform: uppercase;
}

.adresses-actions {
  align-items: end;

}




/* table */
.title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  font-size: 11px;
  padding: 7px;
  border: 0.5px solid #eeeeee;
  text-align: left;
  /* background-color: rgba(217, 221, 146, 0.2); */
  background-color: rgba(248, 166, 9, 0.50);
}

tr td {
  border: 0.5px solid #eeeeee;
  text-align: left;
}

input {
  font-size: 18px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 7px 7px;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  background-color: #fffaf3;
}

.editable-header {
  display: flex;  
  justify-content: flex-end; 
}

i.icon-blue {
  color: #dc3545;
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



